<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home | THH 10th Anniversary</title>
    <script
      type="module"
      src="{{url_for('static', filename='js/index.js')}}"
    ></script>
    <link
      href="../static//css/flowbite.min.css"
      rel="stylesheet"
    />
    <script src="../static/src/tailwind.js"></script> 
    <script src="../static/src/flowbite312.js"></script>
    <!-- <link rel="preconnect" href="https://fonts.googleapis.com"> -->
    <!-- <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> -->
    <!-- <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet"> -->
    <link href="../static/css/tailwind.css" rel="stylesheet">
  </head>

  <body
    class="font-sans bg-gray-100 min-h-screen grid grid-rows-12 grid-cols-10 h-20"
  >
    <nav class="bg-white col-span-10 row-start-1" style="border-bottom: 1px solid; border-color:rgb(177, 177, 177);">
      <div class="w-auto flex items-center justify-between px-6">
        <img src="../static/images/reboot10.png" class="h-12 w-auto pt-2" alt="Logo" />
        <button
          id="dropdownNavbarLink"
          data-dropdown-toggle="dropdownNavbar"
          type="button"
          class="inline-flex items-center justify-self-end p-2 w-10 h-10 text-sm text-gray-500 rounded-lg hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200"
        >
          <svg
            class="w-5 h-5"
            aria-hidden="false"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 17 14"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M1 1h15M1 7h15M1 13h15"
            />
          </svg>
        </button>
        <div id="dropdownNavbar" class="z-10 hidden font-normal w-40">
          <ul
            class="py-2 text-lg text-blue-800 font-semibold bg-white rounded-lg shadow-xl mr-7"
            aria-labelledby="dropdownLargeButton"
          >
            <li class="group">
              <a
                href="{{url_for('index')}}"
                class="block pl-8 py-2 duration-300 hover:pl-5"
                >Dashboard</a
              >
            </li>
            <li>
              <a
                href="{{url_for('settings')}}"
                class="block pl-8 py-2 duration-300 hover:pl-5"
                >Settings</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="flex flex-col col-span-4 row-span-11 row-start-2 bg-white">
      <div
        class="2xl:text-3xl xl:text-2xl lg:text-xl md:text-lg text-xs col-span-5 text-center self-center p-3"
      >
        <img src="../static/images/welcome.png" alt="Welcome" class="w-auto h-100" />
      </div>
      <!-- Khách mới check-in -->
      <div id="check-in-in4" class="flex flex-col bg-white">
        <div id="guest-image" class="self-center p-5">
          <img
            src="../static/images/portrait-placeholder.jpg"
            class="border-blue-600 border-2 rounded-full w-[200px] h-[200px] aspect-square p-1"
          />
        </div>
        <div
          id="guest-checkin"
          class="text-sm self-center text-center h-[150px]"
        >
          <p class="text-gray-400 text-center">No Information</p>
        </div>
      </div>
      <div class="flex flex-row justify-around px-4">
        <!-- Số lượng khách mời đã check-in -->
        <div class="flex flex-row bg-white text-center w-2/5 h-[70px] border-blue-600 border rounded-xl mx-10">
          <img src="../static/images/people1.png" class="h-10 w-10 my-4 mx-1" alt="People" />
          <div
            class="flex flex-col text-xs p-3"
          >
            <strong class="text-blue-700">Khách mời tham dự</strong>
            <div id="number-of-guests" class="text-xl text-gray-500"></div>
          </div>
          
        </div>

        <!-- Thời gian đếm ngược -->
        <div class="flex flex-row bg-white text-center w-2/5 h-[70px] border-blue-600 border rounded-xl mx-10">
          <img src="../static/images/clock.png" class="h-10 w-10 my-4 mx-1" alt="People" />
          <div
            class="flex flex-col text-xs p-3"
          >
            <strong class="text-blue-700">Đếm ngược sự kiện</strong>
            <div id="countdown" class="text-xl text-gray-500"></div>
          </div>
          
        </div>
      </div>
    </div>

    <!-- Danh sách khách mời -->
    <div class="bg-white row-start-2 col-span-6 row-span-11 flex flex-col">
      <div
        class="2xl:text-4xl xl:text-3xl lg:text-2xl md:text-xl text-lg p-3 text-left"
      >
        <strong class="text-black">Danh sách khách mời</strong>
      </div>
      <div
        id="divtable"
        class="relative flex-grow overflow-x-auto sm:rounded-lg"
      >
        <table class="w-full table-fixed text-sm text-gray-500 border border-gray-400">
          <thead class="text-xs text-black text-center uppercase bg-[#bec2c7]">
            <tr>
              <th scope="col" class="px-4 py-2 w-1/12 h-10">STT</th>
              <th scope="col" class="px-4 py-2 w-1/6 h-10">Avatar</th>
              <th scope="col" class="px-4 py-2 w-1/3 h-10">Họ & tên</th>
              <th scope="col" class="px-4 py-2 w-1/4 h-10">Đơn vị</th>
              <th scope="col" class="px-4 py-2 w-1/6 h-10">Bàn tiệc</th>
              <th scope="col" class="px-4 py-2 w-1/6 h-10">Trạng thái</th>
            </tr>
          </thead>
          <tbody id="tbody-guests"></tbody>
        </table>
      </div>
      <div id="pagination-guests" class="my-2 mx-4"></div>
    </div>
    <div id="hidden-container" style="display: none">
      <div
        id="overlay"
        class="fixed inset-0 bg-black opacity-50 z-998 flex justify-center items-center"
      ></div>
      <div
        class="fixed shadow-xl rounded-xl top-1/2 left-1/2 z-999 w-120 h-100 bg-white"
        id="hidden-popup"
        style="transform: translate(-50%, -50%)"
      >
        <div id="popup-content" class="flex flex-col text-black text-xl/7 py-4">
        </div>
        <button
          id="close-popup"
          class="absolute top-2 right-2 bg-red-500 text-white rounded-full aspect-square w-6"
          type="button"
          data-target="#hidden-container"
          onclick="document.getElementById('hidden-container').style.display='none'"
        >
          X
        </button>
      </div>
    </div>
  </body>
</html>
